
.header-3{
    /* overflow: hidden; */
}
.main-h ul li a{
    text-decoration: none;
}
.main-h ul li {
    list-style: none;
}
 .main-h-1a .all-dep{
    background-color: #7fad39;
    cursor: pointer;
    height: 47px;
    width: 280px;
    padding-top:6px;
}
.main-h-1a .all-dep button{
    background-color: #7fad39;
    border:1px solid #7fad39;
    font-size: 20px;
    font-weight: bold;
    font-family:sans-serif;
    color: aliceblue;
}
.main-h-1a .all-dep span{  
    margin-left: 40px;
}
.main-h-1a .all-dep span .ang{
    font-size: 15px;
    margin-left: 15px;
}
.main-h-1a .all-dep span .bar{
    margin-right: 5px;
}

.main-h-1{
    margin-left: 80px;
    /* background-color: bisque; */
}
.main-h-1a{
    /* background-color: rgb(138, 131, 145); */
    margin-left: 83px;
}
.m-h-3{
    border: 1px solid gray;
    width: 520px;
    height: 47px;
    margin-left: 10px;
}
.m3{
    margin-left: 30px;
    margin-top: 6px;
}
.m3 a{
    text-decoration: none;
    color: black;
    font-size: 13;
    font-weight: bolder;
}
.m3 input{
    margin-left: 25px;
    border:none;
    outline: none;
    font-size: large;
    height: 30px;
    width: 250px;
    color: #6f6f6f;
}
.faAng{
    cursor: pointer;
    font-size: 12px;
    margin-left: 9px;
}
.m3 button{
    height: 45px;
    margin-top: -6px;
    width: 86.1px;
    font-size: large;
    font-weight: bolder;
    background-color: #7fad39;
    border:1px solid #7fad39;
    color: aliceblue;
}
.faphone{
    font-size: 50px;
    margin-left: 10px;
    color: rgba(102, 102, 104, 0.29);
}
.faphone1{
    font-size: 25px;
    color: #7fad39;
}
.ph-1{
    margin-top: -37px;
    margin-left: 22px;
}

.help-1a{
    /* background-color: #7fad39; */
    height: 45px;
    margin-left: 70px;
    margin-top: -40px;
}
.help-3a{
    font-size: 18px;
    font-weight: bolder ;
}
.help-3b{
    font-size: 15px;
    color: #6f6f6f;
    margin-top: -17px;
}
.list-line{
    display: none;
}