*{
    margin:0;
}
.header{
    background-color:rgb(255, 255, 255);
}
.top-header{
    background-color: #f5f5f5;
    padding: 13px;
}
.top-header-1 ul li{
    list-style: none;
    float: left;
    padding-left: 40px;
}
.top-header-1{
    margin-left: 80px;
}
.top-header-2 a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
}
.bottom-header-2 a{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-weight: bolder;
    font-size: 14px;
}
.bottom-header-3 a{
    text-decoration: none;
    color: black;  
    padding-left: 20px;
    font-size: 19px;
}
.hom-1{
    color: #7fad39 !important;
}
.bottom-header-4{
    color: #606060;
}
.bottom-header-4 .rupee{
    color: black;
    font-size: 10px;
    font-weight: bolder;
}
.bottom-header-4 .money{
    color: black;
    font-size: 15px;
    font-weight: bolder;
}
.bottom-header{
    
}
.bottom-header-1{
    float: left;
    margin-left: 170px;
    margin-top: -17px;
}
.bottom-header-2{
    margin-top: 30px;
    margin-right: 400px;
}
.bottom-header-3{
    float: right;
    margin-right: 300px;
    margin-top: -25px;
}
.bottom-header-4{
   display: inline-block;
   float: right;
   margin-top: -22px;
   margin-left: 800px;
   margin-right: 170px;
}

.bottom-header-2 a:hover{
    color: #7fad39;
}
.bottom-header-3 .heart:hover{
    color: rgb(210, 6, 6);
}
.bottom-header-3 .basket:hover{
    color: #7fad39;
}
.l-1{
    position: absolute;
    background: #222222;
    padding: 5px 0;
    /* opacity: 0; */
    visibility: hidden;
    list-style: none;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    margin-left: -45px;
    width: 150px;
    height: 135px;
}
.l-1 a{
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
    margin-left: -30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.list:hover > .l-1  {
    visibility: visible;
}
.log :hover{
    color:rgb(166, 143, 197);
}
.main-h-1{
    margin-top: 30px;
    background-color: #7fad39;
    color:white;
    width: 250px;
    margin-left: 172px;
    padding: 15px;
}
.main-h-1 pre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.list-line{
    /* visibility: hidden; */
    border: 1px solid #6060602b;
    width: 278px;
    margin-left: 172px;
    background-color:#9d9e9c0d;
}
.list-line ul{
    list-style: none;
}
.list-line ul a{
    text-decoration: none;
    font-size: 17px;
    color: #222222;
    
}
.list-line ul li{
    text-align: left;
    padding: 10px 0px;
    /* background-color: rgb(255, 255, 255); */
}
.list-line ul a:hover{
    color: #00b0fb;
}
.main-h-2{
    border: 1px solid gray;
    display: flex;
    width: 410px;
    height: 49px;
    margin-left: 500px;
    margin-top: -522px;
}
.m-h-4 input{
    border: 1px solid white;
    font-size: 17px;
    /* margin-left: -150px; */
}
.m-h-4 input:focus{
    outline: none !important;
    border-color: white;
}
.m-h-3 pre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-top: 2px;
}
.main-h-2 div{
    padding: 12px;
}
.m-h-5 button{
    font-size: large;
    margin-left: 4.5px;
    margin-top: -13px;
    height: 51.5px;
    padding:13px;
    border :1px solid #7fad39;
    background-color: #7fad39;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.help-1{
    float: right;
    margin-right: 312px;
    font-size: 35px;
    margin-top: -48px;
}
.help-1:hover{
    color:#7fad39;
}
.help-2{
    float: right;
    margin-right: 170px;
    margin-top: -44px;
}
.help-3a{
    font-weight: bold;
}
.help-3b{
    color: #606060;
}
